@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Light.ttf);
}

body *, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: Roboto;
  font-size: 1rem;
}

.container {
  z-index: 10;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  flex-shrink: 1;
}

#sketch {
  margin: 2.5vh;
  max-width: 90vh;
  max-height: 90vh;
  touch-action: none;

  box-shadow: 10px 10px 30px -1px rgba(0,0,0,0.25);
}

.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;

  max-width: 80vw;

  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;

  margin-left: 4vw;
  margin-right: 4vw;

  border-radius: 4px;
  border: 1px solid black;
}

.form input[type=range] {
  width: 8vw;
  min-width: 100px;
}

.form input[type=button] {
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;

  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-size: inherit;
}

.form label {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.wrapper, .center-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;

  margin-top: 1vh;
  margin-bottom: 1vh;
}

.wrapper {
  justify-content: space-between;
}

.center-wrapper{
  justify-content: center;
}

.center-wrapper > input, .formelement {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.formelement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.instructions {
  text-align: center;
  user-select: none;
}

@media only screen and (min-width: 600px) and (max-width: 1300px) { 
  body {
    font-size: 0.8rem;
    overflow: hidden;
  }


 .container {
    flex-direction: column;
    justify-content: space-evenly;
  } 

   #sketch {
    margin: 1vh;
    max-width: 48vh;
    max-height: 48vh;
  }

  .form {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.7rem;
    overflow: hidden;
  }

  .container {
    flex-direction: column;
    justify-content: space-evenly;
  }

  #sketch {
    margin: 1vh;
    max-width: 90vw;
    max-height: 90vw;
  }

  .form {
    flex-direction: row;
    max-width: 90vw;
    margin: 0;
  }

  .instructions {
    text-align: center;
  }

  .form input[type=range] {
    max-width: 100px;
    min-width: 0;
    width: 20vw;
  }
}